<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>

    <h1>Ma ToDo List</h1>

    <form th:action="@{/}" th:object="${newTask}" method="post">
        <label>Description:</label>
        <input type="text" th:field="*{description}" required>
        <button type="submit">Ajouter une tâche</button>
    </form>

    <ul>
        <li th:each="task : ${tasks}">
            <span th:text="${task.description}"></span>

            <!-- Form for Editing Task -->
            <form th:action="@{'/' + task.id}" method="put">
                <button type="button" onclick="toggleEdit('editInput', 'editButton')">(éditer)</button>
                <input type="text" id="editInput" name="editInput" th:value="${task.description}" style="display:none;">
                <button type="submit" id="editButton" style="display:none;">Confirmer</button>
            </form>

            <!-- Form for Deleting Task -->
            <form th:action="@{'/' + task.id}" method="delete">
                <button type="submit">(supprimer)</button>
            </form>
        </li>
    </ul>

    <script>
        function toggleEdit(inputId, buttonId) {
            var inputElement = document.getElementById(inputId);
            var buttonElement = document.getElementById(buttonId);

            if (inputElement.style.display === "none") {
                inputElement.style.display = "inline";
                buttonElement.style.display = "inline";
            } else {
                inputElement.style.display = "none";
                buttonElement.style.display = "none";
            }
        }
    </script>

</body>
</html>
